doctype html
html
	head
		title(ng-bind="pageTitle") Dropview
		link(rel='stylesheet', href='/css/vendor.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='shortcut icon', type="image/ico", href="/images/favicon.ico")
		block head
	body
		block content
		script(type='text/javascript', src='/js/vendor.js')
		script(type='text/javascript', src='https://www.dropbox.com/static/api/2/dropins.js' id='dropboxjs' data-app-key='c4b2gh3ker8u0yv')
		script(type='text/javascript', src='/js/app.js')
		block footer