div.panel-body
	div
		strong {{accountInfo.name}}
	div
		small {{accountInfo.email}}
	div.quota-info.progress
		div.progress-bar.progress-bar-success(style='width: {{accountInfo.quotaInfo.usedInPercents}}%', ng-hide="accountInfo.quotaInfo.overUsed")
		div.progress-bar.progress-bar-danger(style='width: 100%', ng-show="accountInfo.quotaInfo.overUsed")
	div.quota-info-bytes
		span(ng-class="{'text-danger': accountInfo.quotaInfo.overUsed}") {{accountInfo.quotaInfo.usedQuota.bytes}} {{accountInfo.quotaInfo.usedQuota.name}}
		span.pull-right {{accountInfo.quotaInfo.quota.bytes}} {{accountInfo.quotaInfo.quota.name}}
	div.account-actions
		button.btn.btn-default(type='button', ng-click='accountInfo.logOut()') Log out