div.modal-body
	div.audio-player-info
		div.track-name
			span {{audioPlayer.info.name}}
	div.control-panel
	div.audio-control.btn-group
		button.btn.btn-default(type='button', ng-click='audioPlayer.play()', ng-class='{disabled: audioPlayer.playStatus == "play"}')
			i.fa.fa-play
		button.btn.btn-default(type='button', ng-click='audioPlayer.pause()', ng-class='{disabled: audioPlayer.playStatus == "pause" || audioPlayer.playStatus == "stop"}')
			i.fa.fa-pause
		button.btn.btn-default(type='button', ng-click='audioPlayer.stop()', ng-class='{disabled: audioPlayer.playStatus == "stop"}')
			i.fa.fa-stop
	div.volume-control.pull-right
		div.volume-progress-bar(slider, ng-model="audioPlayer.volume", min="0", max="100", step="1", connect="lower", direction="rtl", orientation="vertical", change="audioPlayer.volumeChange(event, value)")
		button.btn.btn-default(type='button', ng-click='audioPlayer.triggerVolume()')
			i.fa.fa-volume-off(ng-show='audioPlayer.isVolumeOff')
			i.fa.fa-volume-up(ng-show='!audioPlayer.isVolumeOff')
	div.audio-progress-bar.active(slider, ng-model="audioPlayer.played", max="100", ng-max="audioPlayer.duration" min="0", step="1", connect="lower", callback="change", change="audioPlayer.progressChange(event, value)")
	div.audio-player-time
		span {{audioPlayer.played | seconds}}
		span.pull-right {{audioPlayer.duration | seconds}}