ol.breadcrumb
	li(ng-repeat="step in steps | filter:show", ng-class="{ 'current': $last }")
		a(ng-if="!$last", ui-sref='dir.dropbox({path: step.path})') {{ step.name }}
		span(ng-if="$last") {{ step.name }}
