div.dropdown
	button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', id='actions-{{content.id}}')
		span.caret
	ul.dropdown-menu(role='menu', aria-labelledby='actions-{{content.id}}')
		li(role='presentation', ng-if='content.isText()')
			a(role='menuitem', tabindex='-1', ng-click='openFile(content.path)', dropbox-action='openText') Open
		li(role='presentation', ng-if='content.isAudio()')
			a(role='menuitem', tabindex='-1', ng-click='playFile(content.path)', dropbox-action='playAudio') Play