div.row.dropbox-main-panel
	div.col-md-3
		div.panel.panel-default.dropbox-account(ui-view="accountinfo")
	div.col-md-9
		div.panel.panel-default.file-table(ui-view='filetable')
	span#main-spinner(us-spinner='{color: "#2895f1"}' spinner-key="main-spinner")
	video-player