breadcrumbs
div.panel-body
	table.table.table-striped(ng-show='filetable.contents', ng-table="filetable.tableParams")
		thead.fixed-head
			tr
				th.sortable(ng-class="{'sort-asc': filetable.tableParams.isSortBy('name', 'asc'), 'sort-desc': filetable.tableParams.isSortBy('name', 'desc')}",
							ng-click="filetable.tableParams.sorting({'name' : filetable.tableParams.isSortBy('name', 'asc') ? 'desc' : 'asc'})")
					div
						i.fa.fa-caret-down.sort-arrow.sort-arrow-down
						i.fa.fa-caret-up.sort-arrow.sort-arrow-up
						| Name
				th.sortable(ng-class="{'sort-asc': filetable.tableParams.isSortBy('kind', 'asc'), 'sort-desc': filetable.tableParams.isSortBy('kind', 'desc')}",
							ng-click="filetable.tableParams.sorting({'kind' : filetable.tableParams.isSortBy('kind', 'asc') ? 'desc' : 'asc'})")
					div
						i.fa.fa-caret-down.sort-arrow.sort-arrow-down
						i.fa.fa-caret-up.sort-arrow.sort-arrow-up
						| Kind
				th.sortable(ng-class="{'sort-asc': filetable.tableParams.isSortBy('modified', 'asc'), 'sort-desc': filetable.tableParams.isSortBy('modified', 'desc')}",
							ng-click="filetable.tableParams.sorting({'modified' : filetable.tableParams.isSortBy('modified', 'asc') ? 'desc' : 'asc'})")
					div
						i.fa.fa-caret-down.sort-arrow.sort-arrow-down
						i.fa.fa-caret-up.sort-arrow.sort-arrow-up
						| Modified
				th
					div
		tbody
			tr(ng-repeat='content in filetable.contents')
				td(data-title="'Name'" sortable="'name'")
					div
						i.fa.fa-2x.content-icon(ng-class='content.iconType.iconClass')
						a.file-table-content.content-name(ui-sref='dir.dropbox({path: content.path})', ng-if='content.isFolder() || content.isArchive()') {{content.name}}
						a.file-table-content.content-name(ng-if='content.isText()', dropbox-action='openText') {{content.name}}
						a.file-table-content.content-name(ng-if='content.isAudio()', dropbox-action='playAudio') {{content.name}}
						a.file-table-content.content-name(ng-if='content.isVideo()', dropbox-action='playVideo') {{content.name}}
						a.file-table-content.content-name(ng-if='content.isImage()', dropbox-action='openImageCarousel') {{content.name}}
						a.file-table-content.content-name(ng-if='content.isFile()') {{content.name}}
				td(data-title="'Kind'" sortable="'kind'")
					div
						span {{content.kind}}
				td(data-title="'Modified'" sortable="'modified'")
					div
						span {{content.modified | date:'d/M/y h:mm a'}}
				td
					div
						dropbox-actions(content='content')