html
	head
		script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js')
	body
		script(type='text/javascript').
			Dropbox.AuthDriver.Popup.oauthReceiver();