div.modal-header
	h3.modal-title I'm a modal!
div.modal-body
	pre.text-editor-text(editable-textarea="textEditor.text", onaftersave="textEditor.save()", buttons="no", e-form="textEditorForm", ng-click="textEditorForm.$show()") {{textEditor.text}}
div.modal-footer
	button.btn.btn-primary(ng-click='textEditor.saveText()') OK
	button.btn.btn-warning(ng-click='textEditor.cancel()') Cancel