div#video-player.modal.fade(tabindex='-1', role='dialog', aria-hidden='true', aria-labelledby='video-player')
	div.modal-dialog
		div.modal-content
			div.modal-body
				div.video-player-info
					div.track-name
						span {{info.name}}
				div.control-panel
					div.video
						video#video-tag(controls)