$main-color:#2895f1;
$border-color:$main-color;
$table-border-color:#ddd;

@mixin full-size {
    width: 100%;
    height: 100%;
}

html, body{
    width: 100%;
}

html {
    background-image: url("/images/bg.png");
}

body {
    background-color: transparent;
}

#connect-dropbox {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    margin: 150px auto auto;
    text-align: center;
    width: 30%;
}
.dropbox-main-panel {
    margin: 0 auto;
    margin-top: 40px;
    .dropbox-account {
        border-color: $border-color;
        width: 255px;
        border-radius: 15px;
    }
    .file-table {
        border: 0;
        border-radius: 0;
        width: 920px;
        background-color: transparent;
        .panel-body {
            border-radius: 15px;
            background-color: #fff;
            [ng-table-pagination]{
                display: none;
            }
        }
        thead > tr > th, tbody > tr {
            border: 0;
            border-bottom: 1px solid $table-border-color;
        }
        thead > tr > th:hover, tbody > tr:hover > td {
            cursor: pointer;
            background-color: #d9edf7;
        }
        thead > tr > th .sort-arrow {
            display: none;
            float: right;
            color: $main-color;
        }
        thead > tr > th.sort-desc .sort-arrow-down, thead > tr > th.sort-asc .sort-arrow-up {
            display: block;
        }
        .content-icon {
            margin-right: 10px;
        }
        .content-name {
            line-height: 30px;
            vertical-align: text-bottom;
        }
        .breadcrumb{
            border-radius: 15px;
        }
    }
    .quota-info {
        margin-bottom: 0;
        height: 10px;
    }
    .file-table-content {
        color: default;
    }
}
[window-class="audioPlayer"] {
    .audio-progress-bar {
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        animation: 2s linear 0s normal none infinite progress-bar-stripes;
        box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.15) inset;
        transition: width 0.6s ease 0s;
        background-size: 40px 40px;
        margin: 20px;
        &.active {
            background-color: #428BCA;
        }
    }
    .volume-control {
        position: relative;
        .volume-progress-bar {
            position: absolute;
            z-index: 1;
            right: 10px;
            bottom: 35px;
            .noUi-base {
                height: 100px;
            }
        }
    }
    .audio-player-info {
        height: 130px;
    }
}
#video-player {
    #video-tag {
        width: 100%;
    }
}
#main-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

#image-carousel > div {
    display: none;
}
#image-carousel > div:last-child {
    display: block;
}


[window-class="text-editor"] {
    .modal-body {
        height: 500px;

        pre, pre.editable-click {
            color: #333;
            height: 100%;
            border: 1px solid #ccc;
        }
    }

    .editable-textarea {
        @include full-size;

        .editable-controls {
            @include full-size;

            .editable-input {
                @include full-size;
                resize: none;      
            }
        }
    }
}