@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-yesqre');
	src:url('../fonts/icomoon.eot?#iefix-yesqre') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-yesqre') format('woff'),
		url('../fonts/icomoon.ttf?-yesqre') format('truetype'),
		url('../fonts/icomoon.svg?-yesqre#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-package:before {
	content: "\e600";
}
.icon-cd:before {
	content: "\e602";
}
.icon-app:before {
	content: "\e603";
}
